<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:b="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
 			http://www.springframework.org/schema/beans/spring-beans.xsd 
 			http://www.springframework.org/schema/security 
 			http://www.springframework.org/schema/security/spring-security-3.0.xsd">
 
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/index.jsf" access="hasRole('ROLE_USER')"/>
        <form-login login-page="/jsf/spring/security/login.jsf" authentication-failure-url="/login.jsf?erro=true"/>
    </http>
 
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="corefit-ds"
               users-by-username-query="SELECT DS_LOGIN, DS_PASSWORD, IS_SUSPENSE FROM USER WHERE DS_LOGIN = ? "
               authorities-by-username-query="SELECT USER.DS_LOGIN as username, ROLE.DS_ROLE as authority FROM USER , ROLE WHERE USER.DS_LOGIN = ? AND USER.ID = ROLE.ID_USER"
            />
        </authentication-provider>
    </authentication-manager>
 
    <b:bean id="corefit-ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <b:property name="url" value="jdbc:postgresql://localhost:5432/corefit" />
        <b:property name="driverClassName" value="org.postgresql.Driver" />
        <b:property name="username" value="postgres" />
        <b:property name="password" value="root" />
    </b:bean>
 
</b:beans>